# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.env
.vscode

# Build files 
build/
dist/
*.egg-info/

# ai assistants files
.claude/
.kilo/
AGENTS.md 
CLAUDE.md 

# repomix output files
repomix-output.xml
repomix-output.md
